<?xml version="1.0"?>
<config>
  <modules>
    <Ansyori_Aongkir>
      <version>1.0.0</version>
    </Ansyori_Aongkir>
  </modules>
  <frontend>
    <routers>
      <aongkir>
        <use>standard</use>
          <args>
            <module>Ansyori_Aongkir</module>
            <frontName>aongkir</frontName>
          </args>
      </aongkir>
    </routers>
		<layout>
		  <updates>
			<aongkir>
			  <file>aongkir.xml</file>
			</aongkir>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <aongkir>
        <class>Ansyori_Aongkir_Helper</class>
      </aongkir>
    </helpers>
	<blocks>
	  <aongkir>
		<class>Ansyori_Aongkir_Block</class>
	  </aongkir>
	</blocks>
	<models>
	  <aongkir>
		<class>Ansyori_Aongkir_Model</class>
		<resourceModel>aongkir_mysql4</resourceModel>
	  </aongkir>
	  <aongkir_mysql4>
		<class>Ansyori_Aongkir_Model_Mysql4</class>
		<entities>		  
			  <area>
				<table>daftar_alamat</table>
			  </area>
        </entities>
	  </aongkir_mysql4>
	</models>
	<resources>
	  <aongkir_setup>
		<setup>
		  <module>Ansyori_Aongkir</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </aongkir_setup>
	  <aongkir_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </aongkir_write>
	  <aongkir_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </aongkir_read>
	</resources>
  </global>    
	<default>
        <carriers>
            <ongkir>
                <active>1</active>
                <model>aongkir/carrier_ongkir</model>
                <name>Ongkir</name>
                <title>Ongkir</title>
                <description>RajaOngkir.com</description>
                <sort_order>0</sort_order>
            </ongkir>
        </carriers>
    </default>    
    <crontab>
        <jobs>            
			<aongkir_updatealamat>
                <schedule><cron_expr>0 0  * * *</cron_expr></schedule>
                <run><model>aongkir/cron::UpdateAlamat</model></run>
            </aongkir_updatealamat>
        </jobs>
    </crontab>
</config> 